html
	background: #fff

.layout, header
	background: red

.MuiCardHeader-title
	font-size: 16px !important

.MuiCardHeader-subheader
	font-size: 11px !important

.MuiCardHeader-root
	padding: 8px !important

.flag-image
	margin-left: 0.5rem
	margin-right: 0.5rem

.spinner
	position: absolute
	top: 50%
	margin-left: 45% !important

.link-header
	text-decoration: none
	color: #fff
	cursor: pointer